# =========================================================
# Prerequisites
# =========================================================
*.d

# =========================================================
# Compiled Object Files
# =========================================================
*.o
*.obj
*.lo
*.slo

# =========================================================
# Precompiled Headers
# =========================================================
*.gch
*.pch

# =========================================================
# Linker Files
# =========================================================
*.ilk

# =========================================================
# Debugger Files
# =========================================================
*.pdb
*.dwo

# =========================================================
# Compiled Dynamic Libraries
# =========================================================
*.so
*.dylib
*.dll

# =========================================================
# Compiled Static Libraries
# =========================================================
*.a
*.la
*.lai
*.lib

# =========================================================
# Fortran Module Files
# =========================================================
*.mod
*.smod

# =========================================================
# Executables
# =========================================================
*.exe
*.out
*.app

# =========================================================
# Config / Secrets
# =========================================================
config
*.env
.env
